.button {
  font-size: 2rem;
  margin: 0.3rem;
  padding: 0.5rem;
  min-width: 4rem;
  border-radius: 1rem;
}

.span {
  display: block;
  margin: auto;
}

.div {
  color: white;
  background-color: gray;
  max-width: 10rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  margin-top: 10rem;
  text-align: center;
  font-size: 5rem;
}