body {
  background-color: black;
  color: rgb(197, 197, 197);

  font-size: 140%;

  margin: 0;
  padding: 5rem;
}

nav {
  display: block;
  margin: auto;
  margin-top: 6rem;
  font-size: 6rem;
  max-width: 35rem;
}

a {
  display: inline-block;
  color: rgb(134, 130, 255);
  padding: 1rem;
}