body {
  font-family: 'Georgia', sans-serif;
  font-size: 120%;
  color: #eee8aa;

  background-color: #000000;
}

.header {
  background-color: #27094b;

  margin: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  background-color: #27094b;

  margin: 20px;
  padding: 20px;
  padding-left: 40px;
}

a {
  color: rgb(144, 155, 227);
}

li {
  margin-bottom: 5px;
}

.container {
  display: flex;
  align-items: stretch;
}

canvas {
  height: 500px;
  width: 500px;

  background-color: #410985;
}

.canvasWrapper {
  background-color: #27094b;

  margin: 20px;
  padding: 20px;
}